body {
    font-family: "Instrument Sans-Bold", Helvetica;
    background-color: white;
    margin: 0;
    padding: 40px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 10px;
}

h1{
    padding-bottom: 20px;
}

.ficha{
    border: 1px;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 4px 10px black;
}
